
nav {
  position: relative;
  width: 100vw;
  background-color: #FFDDDD;
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  border-color: #d19494;
  border-style: solid;
  border-width: 2px;
}

a {
  text-decoration: none;
  color: rgb(149, 109, 109);
  font-size: larger;

}

a:hover {
  color: #e97b7b;
  font-weight: bolder;
}

a.active {
  color: #d32222;
  font-weight: bolder;
}
