/* 

nav {
  top: 0;
  width: 100vw;
  background-color: #FFDDDD;
  display: flex;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  border-color: #d19494;
  border-style: solid;
  border-width: 2px;

}
a {
  width: 418px;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  color: rgb(149, 109, 109);
  font-size: larger;

}
a:hover {
  color: #e97b7b;
  font-weight: bolder;
  background-color: #E3B7B7;
}
.active {
  color: #d32222;
  font-weight: bolder;
  background-color: #EACCCC;
  border-color: #cbacac;
  border-style: solid;
  border-width: 1px;
} */


/* 
nav {
  top: 0;
  width: 100vw;
  background-color: #FFDDDD;
  display: flex;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  border-color: #d19494;
  border-style: solid;
  border-width: 2px;
  background-image: radial-gradient(#212121 20%, transparent 20%),
  radial-gradient(#fafafa 20%, transparent 20%);
background-color: #e53935;
background-position: 0 0, 50px 50px;
background-size: 100px 100px;

}
a {
  width: 418px;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  color: rgb(149, 109, 109);
  font-size: larger;

}
a:hover {
  color: #e97b7b;
  font-weight: bolder;
  background-color: #E3B7B7;
}
.active {
  color: #d32222;
  font-weight: bolder;
  background-color: #EACCCC;
  border-color: #cbacac;
  border-style: solid;
  border-width: 1px;
} 
 */
