@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');

body{
  background-color: #E8FFFF;
}

#welcome_div{
  height: 400px;
  margin: 110px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0 rgb(228, 64, 119), 0 1px rgb(228, 64, 119), 1px 0 rgb(228, 64, 119), 0 -1px rgb(228, 64, 119);
  background-image: url(https://c.tenor.com/Pn716Ubj1lsAAAAi/ibunwoo-wink.gif);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position-x:right;
  background-position-y: 200px;
  font-family: 'Love Light', cursive;
  font-size: 25px;
}

/* .App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
