@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');

body{
  background-color: #E8FFFF;
  width: 100vw;
  overflow-x: hidden;
}

#welcome_div{
  height: 400px;
  margin: 110px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0 rgb(228, 64, 119), 0 1px rgb(228, 64, 119), 1px 0 rgb(228, 64, 119), 0 -1px rgb(228, 64, 119);
  background-image: url(https://c.tenor.com/Pn716Ubj1lsAAAAi/ibunwoo-wink.gif);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position-x:right;
  background-position-y: 160px;
  font-family: 'Love Light', cursive;
  font-size: 25px;
}


.news-reader {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    text-align: center;
    grid-template-areas: 
        "hd hd hd"
        "st st as";
    font-family: 'News Cycle', sans-serif;
    font-size: 1.2rem;
}

.searchId { 
    grid-area: hd;
    font-family: 'Londrina Sketch', cursive;
    font-size: 10rem;
    width: 100vw;
    text-align: center;
}



.areaA { grid-area: st; }
.areaB { grid-area: as; }

.gitButton {min-width: 60px;}

li { list-style: none; }

/* li:hover { cursor: pointer; } */

img {
    /* height: 60vh; */
    width: 30vw;
    margin: 2rem;
    border: 10px solid black;
}

#feature {
    padding: 2rem 10vw;
    text-align: justify;
}

h3 { font-size: 2.2rem; }

input, [type="submit"] { 
    font-family: 'News Cycle',
    sans-serif; background-color: wheat;
    padding: 5px;
}

button, [type="submit"] { font-weight: 700; }

input { border: none; }

button { border: 2px solid black; }

[type="submit"] { border-left: 1px dashed black; }
