#footer {
  width: 100vw;
  position: absolute;
  background-color: #FFDDDD;
  padding: 23px;
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: -10px;
  border-color: #d19494;
  border-style: solid;
  border-width: 2px;

}

a img{
  margin-bottom: -20px;
  width: 40px;
  height: 40px;
}

a:hover{
  background-color: #FFDDDD;
}

h3{
  color: hotpink;
  font-style: italic;
}
