#footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: #FFDDDD;
  padding: 10px;
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: -10px;
  border-color: #d19494;
  border-style: solid;
  border-width: 2px;

}

